<div class="w-full h-full items-start md:pl-12 px-4 overflow-y-auto">
  <div class="md:max-w-4xl mx-auto py-2">
    <div class="bg-[#fcfdff] space-y-4 p-6 shadow-md rounded-2xl mb-4">
      <h2 class="text-2xl font-extrabold">Sources</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
        <div
          class="bg-[#ffffff] px-2 py-3 flex flex-col gap-4 rounded-xl shadow-md"
        >
          <h3 class="text-xs">
            Cultural difference between Peru and Switzerland
          </h3>
          <p class="flex items-center gap-1 text-sm">
            <img
              class="w-5 h-5"
              [src]="pinterest"
              alt="Pinterest"
              loading="eager"
            />Pinterest
          </p>
        </div>
        <div
          class="bg-[#ffffff] px-2 py-3 flex flex-col gap-4 rounded-xl shadow-md"
        >
          <h3 class="text-xs">
            Switzerland issue for new visa policy for non Schenge..
          </h3>
          <p class="flex items-center gap-1 text-sm">
            <img
              class="w-5 h-5"
              [src]="apple"
              alt="Apple"
              loading="eager"
            />Apple
          </p>
        </div>
        <div
          class="bg-[#ffffff] px-2 py-3 flex flex-col gap-4 rounded-xl shadow-md"
        >
          <h3 class="text-xs">
            Election 2023 results and analysis: Peru has shown...
          </h3>
          <p class="flex items-center gap-1 text-sm">
            <img
              class="w-5 h-5"
              [src]="dribbble"
              alt="Dribbble"
              loading="eager"
            />Dribbble
          </p>
        </div>
        <div
          class="bg-[#ffffff] px-2 py-3 flex flex-col justify-between gap-4 rounded-xl shadow-md"
        >
          <h3 class="text-xs flex gap-4">
            <img class="w-5 h-5" [src]="linkedin" alt="linkedin" /><img
              class="w-5 h-5"
              [src]="google"
              alt="google"
            /><img class="w-5 h-5" [src]="snapchat" alt="snapchat" />
          </h3>
          <p class="flex items-center gap-1 text-sm">View 3 more</p>
        </div>
      </div>
    </div>
    <div class="bg-[#fcfdff] space-y-4 shadow-md rounded-2xl p-6 mb-4">
      <h3 class="text-xl font-bold">Answer</h3>
      <p class="text-sm">
        Switzerland's national elections refer to the process through which
        Swiss citizens elect their federal representatives and government
        officials.<sup class="text-blue-500">1</sup> Switzerland has a unique
        political system characterized by direct democracy, federalism, and a
        multi-party system. Here's a summary of how national elections work in
        Switzerland:<sup class="text-blue-500">2</sup>
        <span class="flex mt-4">
          <ul class="list-decimal space-y-2 px-4">
            <li>
              Federal Structure: Switzerland is a federal state, consisting of
              26 cantons, each with significant autonomy in various policy
              areas. The federal government is responsible for foreign affairs,
              defense, and other national-level functions.<sup
                class="text-blue-500"
                >3</sup
              >
            </li>
            <li>
              Bicameral Legislature: The Swiss Federal Assembly is the country's
              legislature, comprising two chambers: the National Council (lower
              house) and the Council of States (upper house). The National
              Council has 200 members elected through a proportional
              representation system, while the Council of States has 46 members,
              with each canton sending two representatives.
            </li>
          </ul>
        </span>
      </p>
      <div class="w-full flex gap-2 items-center justify-end">
        <button
          type="button"
          class="p-[6px] rounded border border-[#bab8be] text-black"
        >
          <svg
            class="w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="p-[6px] rounded border border-[#bab8be] text-black"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-4 h-4"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M10.46 13.895H4.927C2.381 13.895 5.691 3 7.515 3h12.521c.532 0 .964.424.964.947v9.385a.945.945 0 0 1-.502.832c-2.062 1.106-4.481 2.012-5.678 4.129l-1.28 2.266a.874.874 0 0 1-.762.441c-3.18 0-2.237-4.63-1.805-6.47a.52.52 0 0 0-.513-.635Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
