<div
  class="overflow-hidden justify-center items-center w-full max-w-xs md:inset-0 h-fit shadow-lg"
>
  <div class="w-full max-w-md max-h-full">
    <div class="bg-white rounded-lg shadow-xl">
      <div
        class="flex flex-col gap-2 items-start justify-center p-4 md:p-5 rounded-t"
      >
        <h3 class="text-lg font-semibold text-gray-900">Internal Knowledge</h3>
        <p class="text-sm font-normal text-gray-500 text-left">
          Select which source of information should be accessed to find the
          answers.
        </p>
      </div>
      <div class="p-4 md:p-5">
        <ul class="my-4 space-y-3 text-left">
          <li>
            <label
              class="relative inline-flex items-center me-5 cursor-pointer text-center"
            >
              <input type="checkbox" value="" class="sr-only peer" checked />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-[#00365d]/30 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[url('assets/icons/tick.svg')] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00365d]"
              ></div>
              <div class="ms-3 text-sm font-medium text-gray-900 flex gap-2">
                <span>
                  <svg
                    class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 21 21"
                  >
                    <g
                      fill="none"
                      fill-rule="evenodd"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M17.5 14.5v-7l-5-5h-5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2z"
                      />
                      <path
                        d="M12.5 2.5v3a2 2 0 0 0 2 2h3m-12-3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
                      />
                    </g>
                  </svg>
                </span>
                Desk Shared files
              </div>
            </label>
            <p class="ml-[85px] text-xs text-blue-500">Preview data here</p>
          </li>
          <li>
            <label
              class="relative inline-flex items-center me-5 cursor-pointer text-center"
            >
              <input type="checkbox" value="" class="sr-only peer" checked />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-[#00365d]/30 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[url('assets/icons/tick.svg')] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00365d]"
              ></div>
              <div class="ms-3 text-sm font-medium text-gray-900 flex gap-2">
                <span>
                  <svg
                    class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 7c0 2.21-4.03 4-9 4S3 9.21 3 7m18 0c0-2.21-4.03-4-9-4S3 4.79 3 7m18 0v5M3 7v5m18 0c0 2.21-4.03 4-9 4s-9-1.79-9-4m18 0v5c0 2.21-4.03 4-9 4s-9-1.79-9-4v-5"
                    />
                  </svg>
                </span>
                Data Bank
              </div>
            </label>
            <p class="ml-[85px] text-xs text-blue-500">Preview data here</p>
          </li>
          <li>
            <label
              class="relative inline-flex items-center me-5 cursor-pointer text-center"
            >
              <input type="checkbox" value="" class="sr-only peer" checked />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-[#00365d]/30 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[url('assets/icons/tick.svg')] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#00365d]"
              ></div>
              <div class="ms-3 text-sm font-medium text-gray-900 flex gap-2">
                <span>
                  <svg
                    class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 256 256"
                  >
                    <path
                      fill="currentColor"
                      d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm-26.37 144h52.74C149 186.34 140 202.87 128 215.89c-12-13.02-21-29.55-26.37-47.89ZM98 152a145.72 145.72 0 0 1 0-48h60a145.72 145.72 0 0 1 0 48Zm-58-24a87.61 87.61 0 0 1 3.33-24h38.46a161.79 161.79 0 0 0 0 48H43.33A87.61 87.61 0 0 1 40 128Zm114.37-40h-52.74C107 69.66 116 53.13 128 40.11c12 13.02 21 29.55 26.37 47.89Zm19.84 16h38.46a88.15 88.15 0 0 1 0 48h-38.46a161.79 161.79 0 0 0 0-48Zm32.16-16h-35.43a142.39 142.39 0 0 0-20.26-45a88.37 88.37 0 0 1 55.69 45ZM105.32 43a142.39 142.39 0 0 0-20.26 45H49.63a88.37 88.37 0 0 1 55.69-45ZM49.63 168h35.43a142.39 142.39 0 0 0 20.26 45a88.37 88.37 0 0 1-55.69-45Zm101.05 45a142.39 142.39 0 0 0 20.26-45h35.43a88.37 88.37 0 0 1-55.69 45Z"
                    />
                  </svg>
                </span>
                General Public knowledge
              </div>
            </label>
            <p class="ml-[85px] text-xs">General data via GPT-4</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
